# Loops e Objetos iteráveis

## O `for` sobre um iterável

In [1]:
from operator import itemgetter


for i in range(1, 6):
    print(i)

for x in "banana":
  print(x)

for x in [0, 1, 2]:
  pass

1
2
3
4
5
b
a
n
a
n
a

range(2, 30, 3)


## Função `range`

In [ ]:

# range()
range(6) #Retorna [0,1,2,3,4,5]​

# range(valor_inicial, valor_final)
range(2, 6) #Retorna [2,3,4,5]​
# range(valor_inicial, valor_final, incremento)
range(2, 30, 3) #Retorna [2,5,8,11,14,17,20,23,26,29]

## `for` e iteráveis


### for e range()

In [3]:
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

for x in range(2, 30, 3):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29

  
## listas

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)


## for e listas

In [ ]:
thislist = ["apple", "banana", "cherry"]
# percorre todos os itens da lista
for x in thislist:
  print(x)

# percorre o número de itens da lista
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
  
[print(x) for x in thislist] #modo abreviado


### Comando `break`

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)


### Comando `continue`

In [ ]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)


### for `else`

In [ ]:
 
for x in range(6):
  print(x)
else:
  print("Finally finished!")
  
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

### `for` aninhado

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

### Comando `pass`

In [13]:
for x in [0, 1, 2]:
  pass


## loop while

In [ ]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
  
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)
  
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [12]:
palavra = ""
while palavra != "sair":
    palavra = input("Digite uma palavra ou 'sair' para terminar: ")
    print("A palavra digitada foi:", palavra)
else:
  print("o while acabou agora!!!!")
#depois do while
print("isso aqui já é fora do while")

A palavra digitada foi: sair
o while acabou agora!!!!
isso aqui já é fora do while

In [15]:

thislist = ["apple", "banana", "cherry","wattermellon"]
i = 0
print(len(thislist))

while i < len(thislist):
  print(thislist[i])
  i += 1

4
apple
banana
cherry
wattermellon

In [20]:
listinha = ("coisa1", "coisa2", "coisa3", "coisa4")
print(listinha)

print(listinha[2])

listinha[2] = "coisa_inutil"

print(listinha)
print(listinha[2])

('coisa1', 'coisa2', 'coisa3', 'coisa4')
coisa3

TypeError: 'tuple' object does not support item assignment

## Função `len()`

In [ ]:

# listas
# len()
# len() fornece o número de itens de uma lista
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

## Função `type()`

In [ ]:
# tipo de variável
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))
print(type(list1[2]))

## Manipulando Listas

### Acessando itens

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1]) #retorna o segundo item

In [29]:

# indexação negativa (a partir do último item
thislist = [34343, 34, 34,34 ,"apple", "banana", "cherry"]
print(thislist[-1]) #retorna o último item

cherry

### Sub-Lista

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #retorna os itens do terceiro ao quinto item, não inclui o indice 5

In [32]:
print(thislist[:4]) #retorna os itens do primeiro ao quarto item, não inclui o indice 4
print(thislist[4])

['apple', 'banana', 'cherry', 'orange']
kiwi

In [34]:
print(thislist[2:6]) #retorna os itens do terceiro ao último item

['cherry', 'orange', 'kiwi', 'melon']

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[1:6:2]) #retorna os itens do quinto ao sexto item

['banana', 'orange', 'melon']

#### Condição `in`

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [13]:
#   alterando itens de uma lista
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Atribuição desempacotando

In [ ]:
x, y, z = "tudo_igual"
a, b, c = "letraA", "letraB", "letraC"

In [6]:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [11]:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])
thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

print(thislist[1][1])

banana
['apple', 'blackcurrant', 'watermelon', 'cherry']
l

In [ ]:

if "watermelon" in thislist:
    print("sim, esxite")
else:
    print("não, não esxite")

In [14]:

thislist = ["apple", "banana", "cherry","mellon","blueberry"]
thislist[2:4] = ["watermelon"]
print(thislist)

['apple', 'banana', 'watermelon', 'blueberry']

In [ ]:
if "w" in "banana"

## Métodos e funções em listas

In [ ]:
# variavel.int()

variavel = int(variavel)


### Adicionando itens na lista

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
thislist.insert(1, "blueberry")
print(thislist)
thislist.extend("strawberry")
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'blueberry', 'banana', 'cherry', 'orange']
['apple', 'blueberry', 'banana', 'cherry', 'orange', 's', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'y']

In [9]:

# adiciona uma lista em outra lista
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
print(tropical)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya']

In [12]:

# adicionando uma tupla em uma lista
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'o', 'r', 'a', 'n', 'g', 'e']

In [13]:

# removendo itens da lista
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [14]:

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [15]:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [16]:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [17]:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [19]:

thislist = ["apple", "banana", "cherry"]
print(thislist)
del thislist
print(thislist) # This will cause an error because the list no longer exists

['apple', 'banana', 'cherry']

NameError: name 'thislist' is not defined

In [21]:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(type(thislist))

<class 'list'>


## list comprehension  - modo ternário (compácto)

In [ ]:
# completo
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [23]:

# abreviado
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

super_new_lista = newlist

['apple', 'banana', 'mango']

In [25]:

# Criando uma lista excluindo o item apple.
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# Recriando a lista sem incluir uma condição.​
coisa = {x.upper() : x  for x in fruits}
print(coisa)

{'APPLE': 'apple', 'BANANA': 'banana', 'CHERRY': 'cherry', 'KIWI': 'kiwi', 'MANGO': 'mango'}

In [22]:

# Manipulando o item através de um método "antes de ele ser incluído na lista.

newlist = [x.upper() for x in fruits]
print(newlist)

{'APPLE', 'CHERRY', 'MANGO', 'BANANA', 'KIWI'}

In [30]:


newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [32]:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# trocar banana por laranja
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
    # Devolva o próprio item se ele não for banana, se for banana devolva laranja

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [20]:
# ordenando uma lista
# ordem alfanumérica
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [22]:

thislist = [100, 50, -65, 82, 23]
thislist.sort()
print(thislist)

[-65, 23, 50, 82, 100]

In [23]:

# decrescente
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [24]:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [27]:

# Ordena o quão próximo o valor está do número 50.​
def myfunc(n): #retorna um número sempre positivo
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [28]:

# ordenamento case sentitive
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [29]:

# driblando a difererenciação entre letras maiúsculas e minúsculas
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [30]:

# /reverse()
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [35]:


# copiar lista
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
thislist.sort(reverse=True)
print(mylist)

['apple', 'banana', 'cherry']

In [37]:

thislist = ("apple", "banana", "cherry")
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [1]:

# concatenando listas
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [11]:


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

# for x in list2:
#   list1.append(x)
#   print(list1)

# print("\n\n", list1)
  
list1.append("list2")
print(list1)

['a', 'b', 'c', 'infnet']

In [10]:


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(["infnet"])
print(list1)

['a', 'b', 'c', 'infnet']


# Desafio 1


# Desafio 2

# Tuplas

In [11]:

# manipulando uma tupla
thistuple = ("apple", "banana", "cherry")
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets

thistuple[1] = "pineapple"

TypeError: 'tuple' object does not support item assignment

In [8]:
this_list = ["casa", "predio", "Igreja", "casa"]
this_list[1] ="Prédio"
this_list

['casa', 'Prédio', 'Igreja', 'casa']

In [12]:
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [20]:

# adicionando uma tupla à outra
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [21]:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

nova_tupla = tuple3

('a', 'b', 'c', 1, 2, 3)

In [22]:
thistuple = ("apple", "banana", "cherry")
y = ("fruit1", "fruit2")
nova_tupla = thistuple
thistuple = thistuple + y

print(nova_tupla)
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'fruit1', 'fruit2')

In [18]:

# desmpacotando tuplas
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [20]:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [ ]:

for i, itens in enumerate(fruits):
    i, iten = (1,"apple")

In [3]:


fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [38]:


fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')


# Paramos aqui em 11/10/24

# Sets (Conjuntos)

In [ ]:
myset = {"apple", "banana", "cherry"}
print(myset)

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [22]:

# buscando no set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
  
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

apple
cherry
banana
True

In [23]:

# método add()
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [24]:

# método update()
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'cherry', 'apple', 'mango', 'banana'}

In [25]:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [26]:

# removendo itens de set - método discard()
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [28]:

# clear()
thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset.clear()

print(thisset)

{'apple', 'cherry', 'banana'}
set()

In [29]:

# del
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [30]:

# union()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [31]:

# update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

In [32]:

# intersection_union()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [34]:

# intersection()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)
print(x)

{'apple'}
{'apple', 'cherry', 'banana'}

In [35]:

# intersections
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'microsoft', 'google'}
{'cherry', 'banana', 'microsoft', 'google'}


# Dicionários

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} #pode escrito em uma única linha, porem com indentação é mais legivel
print(thisdict)

In [37]:


thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [38]:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

# acessando dicionários
thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
x = thisdict["model"]
print(x)

Mustang

In [42]:

x = thisdict.get("model","não exite essa informação")
print(x)

Mustang

In [43]:

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [44]:

# alterando o valor de item de um dicionário
car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.keys()
print(x) #before the change

car["year"] = 2023
print(car["year"]) 

car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
2023
dict_keys(['brand', 'model', 'year', 'color'])

In [45]:


car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.values()
print(x) #before the change

car["year"] = 2020 #atualizando o valor da key year
print(x) #after the change

car["color"] = "red"
print(x) #depois de adicionar item

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])
dict_values(['Ford', 'Mustang', 2020, 'red'])

In [46]:

car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.items()
print(x) #before the change

car["year"] = 2020
print(x) #after the change

car["color"] = "red"
print(x) #após adicionar item

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])

In [50]:

# update()
car = {"brand": "Ford", "model": "Mustang","year": 1964}
car.update({"year": 2020})
print(car)
car.update({"color": "red"})
print(car)


# removendo item
car = {"brand": "Ford", "model": "Mustang","year": 1964}
car.pop("model")
print(car)

car = {"brand": "Ford", "model": "Mustang","year": 1964}
car.popitem()
print(car)

car = {"brand": "Ford", "model": "Mustang","year": 1964}
del car["model"]
print(car)

car = {"brand": "Ford", "model": "Mustang","year": 1964}
# del car
print(car)

car = {"brand": "Ford", "model": "Mustang","year": 1964}
car.clear()
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{}

In [ ]:

# dicionários aninhados
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:

myfamily = {
  "child1" : {"name" : "Emil","year" : 2004},
  "child2" : {"name" : "Tobias","year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011}
}
print(myfamily["child2"]["name"])

In [42]:

# acessando dicionários
thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
x = thisdict["model"]
print(x)

Mustang

In [43]:

x = thisdict.get("model")
print(x)

Mustang

In [44]:

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [45]:

# alterando o valor de item de um dicionário
car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [46]:


car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.values()
print(x) #before the change
car["year"] = 2020 #atualizando o valor da key year
print(x) #after the change
car["color"] = "red"
print(x) #depois de adicionar item

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])
dict_values(['Ford', 'Mustang', 2020, 'red'])

In [61]:

car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.items()
print(x) #before the change
car["year"] = 2020
print(x) #after the change
car["color"] = "red"
print(x) #após adicionar item

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3517618556.py, line 4)

In [ ]:

# update()
car = {"brand": "Ford", "model": "Mustang","year": 1964}
thisdict.update({"year": 2020})
thisdict.update({"color": "red"})


# removendo item
car = {"brand": "Ford", "model": "Mustang","year": 1964}
thisdict.pop("model")
print(thisdict)

car = {"brand": "Ford", "model": "Mustang","year": 1964}
thisdict.popitem()
print(thisdict)

In [ ]:

thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
del thisdict["model"]
print(thisdict)

thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
del thisdict
print(thisdict)

thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
thisdict.clear()
print(thisdict)

# dicionários aninhados
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

myfamily = {
  "child1" : {"name" : "Emil","year" : 2004},
  "child2" : {"name" : "Tobias","year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011}
}
print(myfamily["child2"]["name"])

In [8]:
coisa = ("item1", "item2", "item3")
print(type(coisa))

outra_coisa = ["coisa1", "coisa2", "coisa3"]
print(type(outra_coisa))


nova_coisa = list(("troco1", "troco2"))
print(type(nova_coisa))

a = int("86jW348364")

<class 'tuple'>
<class 'list'>
<class 'list'>

ValueError: invalid literal for int() with base 10: '86jW348364'